<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${text}">Document</title>
</head>
<body>
    <div th:text="${text}"></div>
    <p th:if="${usersList.size() == 0}"> No users in list</p>
    <table th:if="${usersList.size() > 0}">
        <thead>
            <tr>
                <th style="margin: auto">Last Name</th>
                <th style="margin: auto">First Name</th>
                <th style="margin: auto">Email</th>
            </tr>
        </thead>
        <tr th:each="user: ${usersList}">
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.email}"></td>
        </tr>
    </table>
</body>
</html>